<ion-header [translucent]="true">
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Lista de usuarios</ion-list-header>
    <ion-item (click)="modal(user)" detail="true" button *ngFor="let user of user$ | async">
      <ion-avatar slot="start">
        <img src="assets/avatar-1.png" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h4>Nombre: {{user.name | titlecase}}</h4>
        <h5>Email: {{user.email}}</h5>
        <h5>Credits: {{user.credits | currency}}</h5>
        <p>Creado: {{user.created | date: 'short'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
