<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-label class="credit"><h3>Balance: {{credits | currency}} </h3></ion-label>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="danger" fill="solid" [disabled]="!finished" (click)="dismiss(true)">
                <ion-icon  name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-title id="title">{{drawType}}</ion-title>
</ion-header>
<ion-content >

    <div #canvas id="canvas"></div>

    <div id="container" *ngIf="can_save">
        <strong class="capitalize" color="primary">
            Sorteo Terminado
        </strong>
        <p>Los número elegidos son:</p>
        <!-- <p ><strong style="color: #eb445a;" *ngFor="let d of draw; index as i">{{i >= draw.length-1? d : d + ' - '}}</strong></p> -->
        <p><strong class="capitalize">
                Buena Suerte!
        </strong></p>
        <p>
          <ion-icon name="game-controller"></ion-icon>
          Presione Aceptar para continuar.
        </p>
        <ion-button (click)="ngOnInit()" color="primary" fill="expand">Volver a Sortear</ion-button>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-label>Cant. de Sorteos:</ion-label>
            <!-- <ion-input type="number" [(ngModel)]="drawQty" min="1" max="99" ></ion-input> -->
            <input type="number" [(ngModel)]="drawQty" min="1" max="99">
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [disabled]="!finished" color="danger" (click)="ngOnInit()">Volver a sortear</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar >
        <ion-buttons slot="end">
            <ion-button [disabled]="!finished" (click)="openLastDraw()" >Ver resultados</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
