.won{
    background-color: var(--ion-color-success);
    color: white;
}

.won-plus{
    background-color: var(--ion-color-tertiary);
    color: white;
}

.won-s-plus{
    background-color: var(--ion-color-danger);
    color: white;
}

.wondraw{
    border-radius: 10px;
    border: 1px double var(--ion-color-success);
    margin: 5px;
    padding: 3px;
    display: inline;
}

/* .checkBox{
    margin-left: 13em;
    margin-right: 13em;
} */

.d-none{
    display: none;
}

.slmas{
    background-color: var(--ion-color-tertiary);
}
.lmas{
    background-color: var(--ion-color-danger);
}

.text-slmas{
    color: var(--ion-color-tertiary);
}
.text-lmas{
    color: var(--ion-color-danger);
}