<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Archivo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openActions()">
        <ion-icon [ios]="'ellipsis-vertical-circle-sharp'" [md]="'ellipsis-vertical-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="ion-text-center">
    
    <ion-label *ngIf="draw != undefined " >
      <ion-icon color="danger" size="large" [ios]="'document-outline'"
          [md]="'document-sharp'"></ion-icon>
        <h1>{{ draw? draw.lottery + ' '+ draw.draw : ''}}</h1>
        <h3>Sorteada el: {{draw.emitDate }}</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center ">
      <h1>Resultados del ultimo sorteo</h1>
      <div class="wondraw" *ngFor="let won of wondraw; index as idx"><h1 style="display: inline;" >
        {{idx < wondraw.length-1? won < 10? '0' + won : won : ''}}</h1></div>
    </ion-label>
  </ion-item>
  
  <div class="checkBox">
    <span *ngFor="let check of entry; index as i">
      {{check.val}}
      <ion-checkbox (ionFocus)="activeCheck(i)" [(ngModel)]="check.isChecked"></ion-checkbox> 
    </span>
  </div>

  <div class="t-container">
    <table class="table">
      <thead class="thead">
        <tr>
          <th class="normal">
            #No
          </th>
          <th *ngFor="let head of headers; index as i" 
          class="{{head == 'L.MAS'? 'lmas' : head == 'S.L.MAS'? 'slmas' : 'normal'}}">
              {{ head }}
          </th>
          <th class="normal">
            Hora
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let row of draw.Data; index as i;" class="{{row[row.length-3]==filter()? '' : 'd-none'}}">
          <td style="border-right: 5px solid grey;">{{i+1 + '-'}}</td>
          <td *ngFor="let col of row; index as j" class="{{ j < row.length-5 && compare(col)? 'won' :j > row.length-5 && j < row.length-1 && wondraw[j] === col? 'won-plus' : j > row.length-6 && j < row.length-2 && wondraw[j] === col? 'won-s-plus' : j > row.length-4 && j < row.length-1? 'd-none' : '' }}" >
            <span *ngIf="j === row.length-2; else elseBlock">{{col | currency}}</span>
            <ng-template #elseBlock >
              {{col}}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
