<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Archivo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openActions()">
        <ion-icon [ios]="'ellipsis-vertical-circle-sharp'" [md]="'ellipsis-vertical-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <ion-icon color="danger" size="large" [ios]="'document-outline'"
          [md]="'document-sharp'"></ion-icon>
        <!-- <img [src]="draw.img" alt="logo"> -->
    </ion-avatar>
    <ion-label *ngIf="draw != undefined ">
        <h2>{{ draw? draw.lottery + ' '+ draw.draw : ''}}</h2>
        <h3>Creada: {{draw.emitDate }}</h3>
        <p>id: {{ draw._id}}</p>
    </ion-label>
  </ion-item>

  <div class="t-container">
    <table class="table">
      <thead class="thead">
        <tr>
          <th class="normal">
            #No
          </th>
          <th *ngFor="let head of headers; index as i" 
          class="{{head == 'L.MAS'? 'lmas' : head == 'S.L.MAS'? 'slmas' : 'normal'}}">
              {{ head }}

          </th>
          <th class="normal">
              Modo
          </th>
          <th class="normal">
            Créditos
          </th>
          <th class="normal">
            Hora
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let row of draw.Data; index as i;">
          <td style="background-color: blanchedalmond; color: black;">{{i+1 + '.-'}}</td>
          <td *ngFor="let col of row; index as j" class="{{j < row.length-2 && compare(col)? 'won' : ''}}">
            <span *ngIf="j === row.length-2; else elseBlock">{{col | currency}}</span>
            <ng-template #elseBlock>
              {{col}}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
