<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-buttons slot="end" *ngIf="folder === 'Reciclaje'">
      <ion-button disabled="{{ user.recicle.length === 0 }}" (click)="this.showAlert(true)">
        Vaciar
        <ion-icon color="danger" [ios]="'trash-bin-outline'" [md]="'trash-bin-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <div *ngFor="let draw of user.archived; index as i" (click)="openActions(i, draw)"
          style="padding: 0; margin: 0;">
          <div *ngIf="folder === 'Archivadas'; else elseBlock;">
            <ion-item *ngIf="!draw.favorite">
              <ion-avatar slot="start">
                <ion-icon color="warning" size="large" [ios]="'document-outline'" [md]="'document-sharp'"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Loteria: {{ draw.lottery + ' '+ draw.draw}}</h2>
                <h3>Creada: {{ draw.emitDate}}</h3>
                <p>activa: {{ draw.active? 'Si' : 'No'}}</p>
              </ion-label>
              <ion-icon slot="end" [ios]="'chevron-forward-outline'" [md]="'chevron-forward-sharp'"></ion-icon>
            </ion-item>
          </div>

            <ng-template #elseBlock>
              <ion-item *ngIf="draw.favorite && folder === 'Favoritas'">
                <ion-avatar slot="start">
                  <!-- <img src="assets/leidsa.png"> -->
                  <ion-icon color="tertiary" size="large" [ios]="'document-outline'" [md]="'document-sharp'"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Loteria: {{ draw.lottery + ' '+ draw.draw}}</h2>
                  <h3>Creada: {{ draw.emitDate}}</h3>
                  <p>activa: {{ draw.active? 'Si' : 'No'}}</p>
                </ion-label>
                <ion-icon slot="end" color="danger" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              </ion-item>
            </ng-template>

          </div>

          <div *ngFor="let draw of user.recicle; index as i" (click)="openActions(i, draw)" style="padding: 0; margin: 0;">
            
              <ion-item *ngIf="folder === 'Reciclaje'">
                  <!-- <img src="assets/leidsa.png"> -->
                  <ion-avatar slot="start">
                    <ion-icon color="danger" size="large" [ios]="'document-outline'" [md]="'document-sharp'"></ion-icon>
                  </ion-avatar>
                  
                <ion-label>
                  <h2>Loteria: {{ draw? draw.lottery + ' '+ draw.draw : ''}}</h2>
                  <h3>Creada: {{ draw.emitDate | date}}</h3>
                  <h4>type: {{draw.owner}}</h4>
                  <p>id: {{ draw._id}}</p>
                </ion-label>
                <ion-icon slot="end" [ios]="'chevron-forward-outline'" [md]="'chevron-forward-sharp'"></ion-icon>
              </ion-item>
            
          </div>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
