<ion-header [translucent]="true" >
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="{{ user.recycle.length === 0 }}" (click)="this.showAlert(true)" *ngIf="folder === 'Reciclaje'">
        Vaciar
        <ion-icon color="danger" [ios]="'trash-bin-outline'" [md]="'trash-bin-sharp'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!isRecycle" [disabled]="indexSelected === undefined" (click)="openActions()">
        <ion-icon [ios]="'ellipsis-vertical-circle-sharp'" [md]="'ellipsis-vertical-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar *ngIf="folder != 'Reciclaje'" animated></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <div *ngFor="let draw of user.archived; index as i" (click)="openFolder(i)"
            style="padding: 0; margin: 0;">
            <div *ngIf="folder === 'Archivadas'; else elseBlock;">
              <ion-item button detail="true" [class.selected]="indexSelected == i" *ngIf="!draw.favorite">
                <ion-avatar slot="start">
                  <ion-icon *ngIf="indexSelected === i; else closeBlock" color="warning" size="large" [ios]="'folder-open-outline'" [md]="'folder-open-sharp'"></ion-icon>
                  <ng-template #closeBlock>
                    <ion-icon color="primary" size="large" [ios]="'folder-outline'" [md]="'folder-sharp'"></ion-icon>
                  </ng-template>
                </ion-avatar>
                <ion-label>
                  <h2>Lotería: {{ draw.lottery + ' '+ draw.draw}}</h2>
                  <h3>Sorteada: {{ draw.emitDate }}</h3>
                </ion-label>
              </ion-item>
            </div>

            <ng-template #elseBlock>
              <ion-item button [class.selected]="indexSelected == i" *ngIf="draw.favorite && folder === 'Favoritas'">
                <ion-avatar slot="start">
                  <!-- <img src="assets/leidsa.png"> -->
                  <ion-icon *ngIf="indexSelected === i; else closeBlock" color="warning" size="large" [ios]="'folder-open-outline'" [md]="'folder-open-sharp'"></ion-icon>
                  <ng-template #closeBlock>
                    <ion-icon color="tertiary" size="large" [ios]="'folder-outline'" [md]="'folder-sharp'"></ion-icon>
                  </ng-template>
                </ion-avatar>
                <ion-label>
                  <h2>Lotería: {{ draw.lottery + ' '+ draw.draw}}</h2>
                  <h3>Sorteada: {{ draw.emitDate }}</h3>
                </ion-label>
                <ion-icon slot="end" color="danger" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              </ion-item>
            </ng-template>

          </div>

          <div *ngFor="let draw of user.recycle; index as i" (click)="openActions(i)"
            style="padding: 0; margin: 0;">
            <ion-item button [class.selected]="indexSelected == i" detail="true" *ngIf="folder === 'Reciclaje'">
              <!-- <img src="assets/leidsa.png"> -->
              <ion-avatar slot="start">
                <ion-icon *ngIf="draw.owner === 'user'" color="danger" size="large" [ios]="'folder-outline'"
                  [md]="'folder-sharp'"></ion-icon>
                <ion-icon *ngIf="draw.owner === 'admin'" color="danger" size="large" [ios]="'document-outline'"
                  [md]="'document-sharp'"></ion-icon>
              </ion-avatar>

              <ion-label>
                <h2>Lotería: {{ draw? draw.lottery + ' '+ draw.draw : ''}}</h2>
                <h3>Sorteada: {{ draw.emitDate }}</h3>
                <h4>type: {{draw.owner === 'user'? 'folder' : 'document'}}</h4>
                <p>id: {{ draw._id}}</p>
              </ion-label>
            </ion-item>
          </div>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>