<ion-header [translucent]="true" >
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="{{ user.recicle.length === 0 }}" (click)="this.showAlert(true)" *ngIf="folder === 'Reciclaje'">
        Vaciar
        <ion-icon color="danger" [ios]="'trash-bin-outline'" [md]="'trash-bin-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar *ngIf="folder != 'Reciclaje'" animated></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="{{ detail? '0.5' : '12'}}" size-md>
        <ion-list>
          <div *ngFor="let draw of user.archived; index as i" (click)="openFolder(i, draw)"
            style="padding: 0; margin: 0;">
            <div *ngIf="folder === 'Archivadas'; else elseBlock;">
              <ion-item color="{{indexSelected === i? 'light' : ''}}" *ngIf="!draw.favorite">
                <ion-avatar slot="start">
                  <ion-icon *ngIf="indexSelected === i && detail; else closeBlock" color="warning" size="large" [ios]="'folder-open-outline'" [md]="'folder-open-sharp'"></ion-icon>
                  <ng-template #closeBlock>
                    <ion-icon color="primary" size="large" [ios]="'folder-outline'" [md]="'folder-sharp'"></ion-icon>
                  </ng-template>
                </ion-avatar>
                <ion-label>
                  <h2>Loteria: {{ draw.lottery + ' '+ draw.draw}}</h2>
                  <h3>Creada: {{ draw.emitDate | date}}</h3>
                  <p>activa: {{ draw.active? 'Si' : 'No'}}</p>
                </ion-label>
                <ion-icon slot="end" [ios]="'chevron-forward-outline'" [md]="'chevron-forward-sharp'"></ion-icon>
              </ion-item>
            </div>

            <ng-template #elseBlock>
              <ion-item color="{{indexSelected === i? 'light' : ''}}" *ngIf="draw.favorite && folder === 'Favoritas'">
                <ion-avatar slot="start">
                  <!-- <img src="assets/leidsa.png"> -->
                  <ion-icon *ngIf="indexSelected === i && detail; else closeBlock" color="warning" size="large" [ios]="'folder-open-outline'" [md]="'folder-open-sharp'"></ion-icon>
                  <ng-template #closeBlock>
                    <ion-icon color="tertiary" size="large" [ios]="'folder-outline'" [md]="'folder-sharp'"></ion-icon>
                  </ng-template>
                </ion-avatar>
                <ion-label>
                  <h2>Loteria: {{ draw.lottery + ' '+ draw.draw}}</h2>
                  <h3>Creada: {{ draw.emitDate | date}}</h3>
                  <p>activa: {{ draw.active? 'Si' : 'No'}}</p>
                </ion-label>
                <ion-icon slot="end" color="danger" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
                <ion-icon slot="end" [ios]="'chevron-forward-outline'" [md]="'chevron-forward-sharp'"></ion-icon>
              </ion-item>
            </ng-template>

          </div>

          <div *ngFor="let draw of user.recicle; index as i" (click)="openActions(i)"
            style="padding: 0; margin: 0;">
            <ion-item *ngIf="folder === 'Reciclaje'">
              <!-- <img src="assets/leidsa.png"> -->
              <ion-avatar slot="start">
                <ion-icon *ngIf="draw.owner === 'user'" color="danger" size="large" [ios]="'folder-outline'"
                  [md]="'folder-sharp'"></ion-icon>
                <ion-icon *ngIf="draw.owner === 'admin'" color="danger" size="large" [ios]="'document-outline'"
                  [md]="'document-sharp'"></ion-icon>
              </ion-avatar>

              <ion-label>
                <h2>Loteria: {{ draw? draw.lottery + ' '+ draw.draw : ''}}</h2>
                <h3>Creada: {{ draw.emitDate | date}}</h3>
                <h4>type: {{draw.owner === 'user'? 'folder' : 'document'}}</h4>
                <p>id: {{ draw._id}}</p>
              </ion-label>
              <ion-icon slot="end" [ios]="'chevron-forward-outline'" [md]="'chevron-forward-sharp'"></ion-icon>
            </ion-item>
          </div>

        </ion-list>
      </ion-col>
      <ion-col *ngIf="detail" size="11.5" size-md>
        <ion-list>
          <ion-item>
            <ion-avatar>
              <ion-icon color="danger" size="large" [ios]="'document-outline'"
                  [md]="'document-sharp'"></ion-icon>
            </ion-avatar>
            <ion-label *ngIf="draw != undefined && folder != 'Reciclaje'">
              <ion-toolbar>
                <h2>{{ draw? draw.lottery + ' '+ draw.draw : ''}}</h2>
                <h3>Vence: {{ draw.expiryDate | date}}</h3>
                <p>id: {{ draw._id}}</p>
                <ion-buttons slot="end">
                  <ion-button (click)="openActions(indexSelected)">
                    <ion-icon [ios]="'ellipsis-horizontal-circle-sharp'" [md]="'ellipsis-vertical-sharp'"></ion-icon>
                  </ion-button>
                  <ion-button (click)="detail = false;">
                    <ion-icon name="close-circle-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-label>
          </ion-item>
          <ion-item *ngFor="let rows of draw.Data; index as i">
            <ion-icon name="heart-circle-outline"></ion-icon>
            <p *ngFor="let col of rows;index as i" class="{{ i > rows.length-2? 'truncate-text' : ''}}">
              {{' - ' + col}}
            </p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>