<ion-header [translucent]="true">
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-button (click)="goInicio()">
        <ion-icon [ios]="'chevron-back-outline'" [md]="'arrow-back-sharp'" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>game</ion-title>
    <ion-buttons slot="end" *ngIf="!matdesign()">
      <ion-button (click)="openAction()">
        <ion-icon name="game-controller"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid">
    <ion-grid>
      <ion-row style="background-color: black; color: whitesmoke;">
        <ion-col size="12"  size-md="12" class="ion-text-center">
          <ion-text>Resultados {{draw.draw}} {{draw.lottery}}</ion-text>
        </ion-col>
        <ion-col size="0.7">
          <p class="ion-text-center">#No</p>
        </ion-col>
        <ion-col size="1.25" *ngFor="let head of header; index as i">
          <p *ngIf="draw.Data.length > i"  class="ion-text-center">{{head}}</p>
        </ion-col>
      </ion-row>
  
      <ion-row class="{{i%2 === 0? 'hover' : ''}}" *ngFor="let row of user_draw.Data; index as i;">
        <ion-col size="0.7">
          <p class="ion-text-center truncate-text">{{i+1}}) </p>
        </ion-col>
        <ion-col size="1.25" *ngFor="let col of row; index as i">
          <p class="ion-text-center truncate-text">{{col}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

<!-- fab placed to the bottom end -->
<ion-fab *ngIf="matdesign()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openAction()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
