ion-row.hover{
    background-color: rgba($color: #f1f1f1, $alpha: 0.5);
}

.truncate-text{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .grid{
        width: 800px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}