<ion-header [translucent]="true">
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <!-- <ion-button (click)="goInicio()">
        <ion-icon [ios]="'chevron-back-outline'" [md]="'arrow-back-sharp'" ></ion-icon>
        Atrás
      </ion-button> -->
      <ion-back-button (click)="goInicio()"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>Game</ion-title> -->
    <ion-buttons slot="end" >
        <p class="credit">Crédito Inicial: $0.00 </p>
        <p class="credit">Débito: $0.00 </p>
        <p class="credit">Crédito Final: $0.00 </p>
      <!-- <ion-button (click)="openAction()" *ngIf="!matdesign()">
        <ion-icon name="game-controller"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>
    Reporte de números seleccionados para el sorteo del {{draw.expiryDate | date :'mediumDate' : '-0400' : 'es-do' }} a las 8:55pm
  </h4>
  <div class="t-container">
    <table class="table">
      <thead class="thead">
        <tr>
          <th class="normal">
            #No
          </th>
          <th *ngFor="let head of header; index as i" 
          class="{{head == 'L.MAS'? 'lmas' : head == 'S.L.MAS'? 'slmas' : 'normal'}}">
              {{ head }}

          </th>
          <th class="normal">
              Modo
          </th>
          <th class="normal">
            Créditos
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let row of user_draw.Data; index as i;">
          <td style="background-color: blanchedalmond;">{{i+1 + '.-'}}</td>
          <td *ngFor="let col of row; index as i">
            {{col}}
          </td>
          <td>-{{price | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- fab placed to the bottom end -->
<ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openAction()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
