<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
              <ion-icon color="danger" name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Sorteo personalizado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Bola</ion-label>
        <ion-select placeholder="Select One" (ionChange)="setIndex($event.target.value)">
          <ion-select-option *ngFor="let head of header; index as i" value="{{i}}">{{head | titlecase}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Numeros</ion-label>
        <ion-select placeholder="Select One" multiple="true" interface="alert" (ionChange)="setNumbers($event.target.value)">
          <ion-select-option *ngFor="let ball of draw.Data[index_selected]; index as i" value="{{ball}}">{{ball}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="t-container">
      <table class="table">
        <thead class="thead">
          <tr>
            <th >
              BOLAS
            </th>
            <th>NUMEROS</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let head of header; index as i;">
            <td class="{{head == 'L.MAS'? 'lmas' : head == 'S.L.MAS'? 'slmas' : 'thead'}}">{{head}}</td>
            <td >
              {{user_draw.Data[i]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
      <ion-button (click)="lestdraw()">Sortear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>