<ion-header [translucent]="true">
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración de Sorteos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="new_one()">
        Nuevo
      <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-searchbar (ionChange)="filter($event.target.value)" debounce="500" animated showCancelButton="focus" placeholder="Filtrar"></ion-searchbar> -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list >
          <ion-list-header>
            <ion-title>Sorteos</ion-title>
          </ion-list-header>

          <ion-item *ngFor="let draw of draw$ | async; index as i" button>
            <ion-avatar slot="start">
              <ion-icon color="warning" size="large" [ios]="'document-outline'" [md]="'document-sharp'"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h1>Lotería: {{draw.lottery | titlecase}}</h1>
              <h4>Sorteo: {{ draw.draw }}</h4>
            </ion-label>
            <ion-buttons style="position: absolute; right: 1em;">
              <ion-button (click)="openActions(i, draw)">
                <ion-icon color="medium" size="large" [ios]="'ellipsis-vertical-outline'" [md]="'ellipsis-vertical-sharp'"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <!-- <ion-item lines="none">
            <ion-avatar slot="start" >
              <ion-icon color="medium" size="large" [ios]="'document-outline'" [md]="'document-sharp'"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>Platinum</h3>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button [routerLink]="['edit/0', draw._id]" fill="solid" color="primary">manual</ion-button>
              <ion-button fill="solid" (click)="file1.click()" color="success">auto</ion-button>
              <input #file1 (change)="readfile($event.target, draw, 0)" style="display: none;" type="file">
            </ion-buttons>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start" >
              <ion-icon color="warning" size="large" [ios]="'document-outline'" [md]="'document-sharp'"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>Gold</h3>
              <p>Creada: {{ draw.emitDate | date: 'short'}} {{ draw.emitDate | amLocale: 'es-do' | amTimeAgo}}</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button [routerLink]="['edit/1', draw._id]" fill="solid" color="primary">manual</ion-button>
              <ion-button fill="solid" (click)="file2.click()" color="success">auto</ion-button>
              <input #file2 (change)="readfile($event.target, draw, 1)" style="display: none;" type="file">
            </ion-buttons>
          </ion-item> -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
