.l-0{
    color: var(--ion-color-danger);
    font-size: xxx-large;
  }
  .l-1{
    color: var(--ion-color-success);
    font-size: xxx-large;
  }
  .l-2{
    color: var(--ion-color-warning);
    font-size: xxx-large;
  }
  .l-3{
    color: var(--ion-color-primary);
    font-size: xxx-large;
  }
  .l-4{
    color: var(--ion-color-tertiary);
    font-size: xxx-large;
  }