<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()" >
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Sorteo {{game}}</ion-title>
        <!-- <ion-item slot="start" lines="none">
            <ion-label>{{graphic | titlecase}}</ion-label>
            <ion-select [(ngModel)]="graphic" (ionChange)="ngOnInit()" interface="popover">
              <ion-select-option value="2D">2D</ion-select-option>
              <ion-select-option value="WebGL">WebGL</ion-select-option>
            </ion-select>
        </ion-item> -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <div #canvas id="canvas"></div>

    <div id="container" *ngIf="can_save">
        <strong class="capitalize" color="primary">
            Sorteo Terminado
        </strong>
        <p>Los número agraciados son:</p>
        <p style="color: #eb445a;">{{draw}}</p>
        <p>
          <ion-icon name="game-controller"></ion-icon>
          Presione Aceptar para continuar.
        </p>
      </div>
</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="saveBtn()">
        <ion-buttons slot="end">
            <ion-button (click)="save()">Aceptar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
