<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-back-button slot="start" color="light"></ion-back-button>
    <ion-title>{{game === 0? draw.draw + ': Platinum' : draw.draw +': Gold' | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="wipeData()">Limpiar</ion-button>
      <ion-button (click)="save()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="t-container">
    <table class="table">
      <thead class="thead">
        <tr>
          <th class="normal">
            Bolas
          </th>
          <th *ngFor="let head of header2; index as i" >
            -
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let row of draw.Games[game].Data; index as i;">
          <td class="{{header[i] == 'L.MAS'? 'lmas' : header[i] == 'S.L.MAS'? 'slmas' : 'normal'}}">{{header[i]}}</td>
          <td *ngFor="let col of row; index as j">
            <input type="number" id="data-{{j}}" name="data-{{j}}" class="formCtrl" [(ngModel)]="draw.Games[game].Data[i][j]">
          </td>
          <!-- <td>-{{price | currency}}</td> -->
        </tr>
        <tr>
          <td style="position: absolute; right: 1em;">
            <ion-button [disabled]="draw.Games[game].Data.length == header.length" (click)="pushOne()">
              Agregar
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
