<ion-header [translucent]="true">
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end" >
      <p class="credit">Créditos totales: {{user.credits | currency}} </p>
      <ion-button color="warning">
        comprar
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let draw of draws$ | async; index as i;">
        <ion-card [disabled]="dateNow > date(draw.expiryDate)" type="button" class="card-hover" [routerLink]="['/game', i]">
          <img [src]="draw.img" class="lottery"/>
          <ion-card-header class="ion-text-center">
            <ion-card-title class="truncate-text">{{draw.draw}}</ion-card-title>
            <ion-card-subtitle>{{dateNow > date(draw.expiryDate)? 'Expiró ' : 'Expirará '}} {{draw.expiryDate | amLocale: 'es-do' | amTimeAgo}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
