
.truncate-text{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lottery{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 300px;
}