<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!filter"></ion-menu-button>
      <ion-back-button></ion-back-button>
      <!-- <ion-button *ngIf="filter" (click)="filter=null">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Atras
      </ion-button> -->
    </ion-buttons>
    <ion-title *ngIf="!filter && material">Inicio</ion-title>
    <ion-buttons slot="end" >
      <h3 class="credit">Balance: {{user? user.credits : 0 | currency}} </h3>
      <ion-button color="warning" (click)="buyCredits()">
        <h3>recargar</h3>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <!-- <ion-row *ngIf="!filter">
      <ion-col size="12">
        <h1 style="text-align: center; margin: auto;">Seleccione una lotería</h1>
      </ion-col>
      <ion-col size="12" >
        <ion-item *ngFor="let draw of lotteryModel; index as i;" button (click)="filter=draw.lottery; filterLoteries(); selected=i">
          <ion-thumbnail slot="start">
            <img [src]="'assets/logo.png'"/>
          </ion-thumbnail>
          <h1 class="l-{{i}}">{{draw.lottery}}</h1>
          <ion-buttons slot="end">
            <ion-button fill="solid" color="tertiary" shape="round">
              Jugar
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row> -->

    <ion-row *ngIf="filter">
      <ion-col size="12">
        <h1 style="text-align: center; margin: auto;">Lotería {{filter}}</h1>
        <h2 style="text-align: center; margin: auto;">A continuación seleccione uno de los sorteos disponibles</h2>
      </ion-col>
      <ion-col size="12" size-md="12">
        
        <ion-list *ngFor="let draw of loteriesFilters; index as i;">
          <ion-list-header>
            <h2 class="l-{{selected}}">{{draw.draw}}</h2>
          </ion-list-header>

          <ion-item >
            <!-- <ion-thumbnail slot="start">
              <img [src]="draw.img" />
            </ion-thumbnail> -->
            <ion-label>
              <strong>Sorteo Platinum</strong>
              <!-- <br>
              <small>Se descontarán {{prices.plat | currency}} por este sorteo</small> -->
            </ion-label>
            <ion-buttons slot="end">
              <ion-button fill="solid" color="platinum" (click)="openNormal(draw, 0)">Sortear</ion-button>
            </ion-buttons>
          </ion-item>

          <ion-item >
            <!-- <ion-thumbnail slot="start">
              <img [src]="draw.img" />
            </ion-thumbnail> -->
            <ion-label>
              <strong>Sorteo Oro</strong>
              <!-- <br>
              <small>Se descontarán {{prices.gold | currency}} por este sorteo</small> -->
            </ion-label>
            <ion-buttons slot="end">
              <ion-button fill="solid" color="gold" (click)="openNormal(draw, 1)">Sortear</ion-button>
            </ion-buttons>
          </ion-item>

          <ion-item >
            <!-- <ion-thumbnail slot="start">
              <img [src]="draw.img" />
            </ion-thumbnail> -->
            <ion-label>
              <strong>Sorteo por la máquina [Aleatorio]</strong>
              <!-- <br>
              <small>Se descontarán {{prices.rand | currency}} por este sorteo</small> -->
            </ion-label>
            <ion-buttons slot="end">
              <ion-button fill="solid" color="cobre" (click)="openRandom(draw)">Sortear</ion-button>
            </ion-buttons>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="container" *ngIf="filter && loteriesFilters.length == 0"><!--  -->
    <h2><ion-icon size="large" name="beer-outline"></ion-icon></h2>
    <strong class="capitalize" >
      <ion-icon name="leaf-outline"></ion-icon>
      Aún no existen Sorteos disponibles, 
    </strong>
    <p>
      por favor inténtelo más tarde.
    </p>
  </div>

  <!-- fab placed to the bottom end -->
<ion-fab *ngIf="filter" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="openLastDraw()">
    <ion-icon [ios]="'open-outline'" [md]="'open-sharp'"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
