<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!filter"></ion-menu-button>
      <ion-button *ngIf="filter" (click)="filter=null">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Atras
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!filter && material">Inicio</ion-title>
    <ion-buttons slot="end" >
      <p class="credit">Balance: {{user? user.credits : 0 | currency}} </p>
      <ion-button color="warning" (click)="buyCredits()">
        comprar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <!-- <ion-header collapse="condense">
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button *ngIf="!filter"></ion-menu-button>
        <ion-button *ngIf="filter" (click)="filter=null">
          <ion-icon name="arrow-back-outline"></ion-icon>
          Atras
        </ion-button>
      </ion-buttons>
      <ion-title *ngIf="!filter && material">Inicio</ion-title>
      <ion-buttons slot="end" >
        <p class="credit">Balance: {{user? user.credits : 0 | currency}} </p>
        <ion-button color="warning" (click)="buyCredits()">
          comprar
        </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  
  <ion-grid>
    <ion-row *ngIf="!filter">
      <ion-col size="12">
        <h1 style="text-align: center; margin: auto;">Seleccione una lotería!</h1>
      </ion-col>
      <ion-col size="12" size-md="4" *ngFor="let draw of lotteryModel; index as i;">
        <ion-card type="button" class="card-hover" (click)="filter=draw.lottery;  filterLoteries();">
          <img [src]="'assets/logo.png'" class="lottery"/>
          <ion-card-header class="ion-text-center" style="background-color: #1a1a1a;">
            <ion-card-title [color]="colors[i]" class="truncate-text">{{draw.lottery}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="filter">
      <ion-col size="12">
        <h1 style="text-align: center; margin: auto;">A seleccionado {{filter}}</h1>
        <h2 style="text-align: center; margin: auto;">A continuación seleccione un sorteo!</h2>
        <h3 style="text-align: center; margin: auto;">Sorteos disponibles</h3>
      </ion-col>
      <ion-col size="12" size-md="12">
        
        <ion-list *ngFor="let draw of loteriesFilters; index as i;">
          <ion-list-header>
            <h2>Sorteo: {{draw.draw}}</h2>
          </ion-list-header>

          <ion-item [disabled]="draw.Games[0].Data.length === 0" >
            <!-- <ion-thumbnail slot="start">
              <img [src]="draw.img" />
            </ion-thumbnail> -->
            <ion-label>
              <strong>Sorteo Platinum</strong>
              <br>
              <small>Se descontarán {{prices.plat | currency}} por cada bola</small>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button [disabled]="draw.Games[0].Data.length === 0" fill="solid" color="primary" (click)="openNormal(draw, 0)">Sortear</ion-button>
            </ion-buttons>
          </ion-item>

          <ion-item [disabled]="draw.Games[1].Data.length === 0">
            <!-- <ion-thumbnail slot="start">
              <img [src]="draw.img" />
            </ion-thumbnail> -->
            <ion-label>
              <strong>Sorteo Gold</strong>
              <br>
              <small>Se descontarán {{prices.gold | currency}} por cada bola</small>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button [disabled]="draw.Games[1].Data.length === 0" fill="solid" color="primary" (click)="openNormal(draw, 1)">Sortear</ion-button>
            </ion-buttons>
          </ion-item>

          <ion-item >
            <!-- <ion-thumbnail slot="start">
              <img [src]="draw.img" />
            </ion-thumbnail> -->
            <ion-label>
              <strong>Sorteo por la máquina [Aleatorio]</strong>
              <br>
              <small>Se descontarán {{prices.rand | currency}} por cada bola</small>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button fill="solid" color="primary" (click)="openRandom(draw)">Sortear</ion-button>
            </ion-buttons>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="container" *ngIf="filter && loteriesFilters.length == 0"><!--  -->
    <h2><ion-icon size="large" name="beer-outline"></ion-icon></h2>
    <strong class="capitalize" >
      <ion-icon name="leaf-outline"></ion-icon>
      Aún no existen Sorteos disponibles, 
    </strong>
    <p>
      por favor inténtelo más tarde.
    </p>
  </div>

  <!-- fab placed to the bottom end -->
<ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="openLastDraw()">
    <ion-icon [ios]="'open-outline'" [md]="'open-sharp'"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
