<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>{{register? 'Usuario nuevo' : 'Iniciar session'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!register" (click)="register = true">
        Registrarse
      </ion-button>
      <ion-button *ngIf="register" (click)="register = false">
        Iniciar sesion
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="4">
      </ion-col>

      <ion-col size="12" size-lg="4">
        <form [formGroup]="userForm">
          <ion-card id="card">
            <ion-card-header color="tertiary">
              <ion-button *ngIf="step>0 && register" fill="clear" id="back_button" (click)="step = step-0.5">
                <ion-icon color="light" name="arrow-back-outline"></ion-icon>
              </ion-button>
              <ion-button *ngIf="step2>0 && !register" fill="clear" id="back_button" (click)="step2 = step2-1">
                <ion-icon color="light" name="arrow-back-outline"></ion-icon>
              </ion-button>
              <ion-avatar class="center">
                <img src="assets/trevol.jpg" alt="user">
              </ion-avatar>
              <ion-item lines="none" color="tertiary">
                <h2 class="center">{{register? 'Registrarse' : 'Iniciar Sesion'}}</h2>
              </ion-item>
            </ion-card-header>

            <ion-card-content *ngIf="register; else login">

              <ion-item>
                <ion-label position="fixed">Nombre:</ion-label>
                <input type="text" required="true" formControlName="name">
              </ion-item>
              <small>Escribe tu nombre completo</small>

              <ion-item>
                <ion-label position="fixed">Email:</ion-label>
                <input type="email" formControlName="email" required="true">
              </ion-item>
              <small>Escribe tu email</small>
              <small class="danger" *ngIf="email.invalid">, debe de ser un correo valido</small>

              <ion-item>
                <ion-label position="fixed">Contraseña:</ion-label>
                <input type="password" formControlName="password" required="true">
              </ion-item>

              <small>Escribe una contraseña</small>
              <!-- <small class="danger" *ngIf="step===0.5 && email.required">Email is required</small> -->

              <ion-item >
                <ion-label position="fixed">Confirmar Contraseña:</ion-label>
                <input type="password" formControlName="confirmPassword" required="true">
              </ion-item>
              <!-- <small *ngIf="step===1 && f.confirmPassword.errors.required">Confirm Password is required</small>
              <small *ngIf="step===1 && f.confirmPassword.errors.mustMatch">Passwords must match</small> -->

              <ion-item lines="none">
                <ion-button [disabled]="pswd.invalid" class="center" (click)="signup(userForm.value)">
                  Listo!
                </ion-button>
              </ion-item>
              <small class="center">Al registrarse acepta nuestra <a href="#">politicas de uso</a></small>
            </ion-card-content>


            <ng-template #login>


              <ion-card-content>

                <ion-item>
                  <ion-label position="fixed"> Email:
                    <ion-icon slot="end" 
                    color="{{email.invalid && email.touched? 'danger' : 'success'}}" 
                    name="{{email.invalid && email.touched? 'close' : 'checkmark'}}"></ion-icon>
                  </ion-label>
                  <input type="email" formControlName="email" required="true">
                </ion-item>
                <small>Escribe tu email</small>

                <ion-item>
                  <ion-label position="fixed"> Contraseña:
                    <ion-icon slot="end" 
                    color="{{pswd.invalid && pswd.touched? 'danger' : 'success'}}" 
                    name="{{pswd.invalid && pswd.touched? 'close' : 'checkmark'}}"></ion-icon>
                  </ion-label>
                  <input type="password" formControlName="password" required="true">
                </ion-item>
                <small>Escribe tu contraseña</small>

                <ion-item lines="none">
                  <!-- <ion-button *ngIf="step2 != 1" class="center" (click)="step2= step2 + 1">
                    Siguiente
                  </ion-button> -->
                  <ion-button [disabled]="pswd.invalid" class="center" (click)="signin(userForm.value)">
                    Iniciar Sesion
                  </ion-button>
                </ion-item>
              </ion-card-content>

            </ng-template>

          </ion-card>
        </form>
      </ion-col>

      <ion-col size-lg="4">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>